* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: Sen, sans-serif;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.heading {
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -1.16px;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.btn {
    display: block;
    width: 144px;
    height: 50px;
    padding: 11px 41px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    border-radius: 999px;
    background: #171100;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

/* Header */
.header.fixed {
    position: sticky;
    top: -32px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.nav {
    margin-left: auto;
    margin-right: 70px;
}

.nav ul {
    display: flex;
}

.nav li {
    text-align: center;
}
.nav li a {
    color: #5f5b53;
    padding: 8px 21px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.nav li:hover a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a {
    position: relative;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

/* Hero */
.hero {
    padding: 57px 0;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.hero .hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    justify-content: center;
}

.hero-summary .item + .item {
    margin-top: 22px;
}

.hero-summary .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-summary .info {
    margin-left: 28px;
}
.hero-summary .label {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.hero-summary .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.hero .content-block {
    width: 52%;
    padding: 60px 0 0 130px;
}

.content-block .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.hero .cta-group {
    display: flex;
    margin: 38px 0 48px;
}

.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
    background: var(--primary-color);
    line-height: 1.66;
    padding: 17px 33px;
    margin-right: 28px;
}

.hero .watch-video {
    display: flex;
    align-items: center;
    background: transparent;
    margin-left: 28px;
    border: none;
    cursor: pointer;
}

.watch-video .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .stats {
    margin: 8px 0 0 -28px;
}

.hero .stats strong {
    padding: 0 8px 0 28px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
}

/* Popular */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .desc {
    margin-top: 16px;
    width: 458px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: transparent;
}

.popular-top .control-btn:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}

.popular .course-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.popular .course-item {
    flex: 1;
    width: 370px;
    max-width: 100%;
    height: 466px;
    background: #fff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}

.popular .thumb {
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.popular .course-item .info {
    padding: 16px 22px 22px;
}

.popular .course-item .head,
.popular .course-item .rating,
.popular .course-item .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .course-item .title a {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.67;
    padding-right: 6px;
}

.popular .rating .value {
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.popular .course-item .desc {
    margin-top: 6px;
    max-width: 100%;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.popular .course-item .foot {
    margin-top: 12px;
}

.popular .course-item .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.popular .course-item .book-btn {
    border: none;
}

.popular .course-item .book-btn:hover {
    color: #fff;
    background: var(--primary-color);
}
