* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: block;
    width: 144px;
    height: 50px;
    padding: 11px 41px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
    border-radius: 24.5px;
    background: #171100;
}
/* Header */
.header.fixed {
    position: sticky;
    top: -32px;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.nav {
    margin-left: auto;
    margin-right: 70px;
}

.nav ul {
    display: flex;
}

.nav li {
    text-align: center;
}
.nav li a {
    color: #5f5b53;
    padding: 8px 21px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
}

.nav li:hover a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a {
    position: relative;
    color: #171100;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}
